<!doctype html>
<html lang="en">
  <head>
    <title>Cars Information</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/alert.js') }}"></script>
  </head>
  <body>
    <div class="container p-3 my-3 border bg-primary text-white">
      <h1>Cars Information</h1>
			<div class="text-md-right">
        <div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            {{ data["account"]["first_name"] }} {{ data["account"]["last_name"] }}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/logout">Log out</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container p-3 my-3" id="msg"></div>
    <div class="container p-3 my-3">
			<ul class="nav nav-tabs">
			  <li class="nav-item">
			    <a class="nav-link" href="#">rentals history</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="/search"> Go to search</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link active disabled" href="/carsInfo">carsInfo</a>
			  </li>
			</ul>
    </div>
    <div class="container p-3 my-3">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Car</th>
            <th>Make</th>
            <th>Body type</th>
            <th>Colour</th>
            <th>Seats</th>
            <th>Location</th>
            <th>Hourly rate</th>
            <th>Reserve</th>
          </tr>
        </thead>
        <tbody>
          {% for car in data["carsInfo"] %}
          <tr>
            <td>{{ car["id"] }}</td>
            <td>{{ car["make"] }}</td>
            <td>{{ car["body_type"] }}</td>
            <td>{{ car["colour"] }}</td>
            <td>{{ car["seats"] }}</td>
            <td>{{ car["location"] }}</td>
            <td>{{ "$%.2f/hr" | format(car["hourly_rate"]) }}</td>
            <td>
              <a type="button" class="btn btn-success btn-sm" href="#?id={{ car['id'] }}">&radic;</a>
            </td>
	    <td>
              <a type="button" class="btn btn-danger btn-sm" href="/deleteCar?id={{ car['id'] }}">delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
