<!--
 * @Date: 2020-06-14 13:24:47
 * @LastEditTime: 2020-06-14 14:53:33
 * @Description: file content
--> 
<!doctype html>
<html lang="en">
  <head>
    <title>Manager Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/alert.js') }}"></script>
  </head>
  
  <body>
    <div class="container p-3 my-3 border bg-primary text-white">
      <h1>Welcome Manager</h1>
      <div class="text-md-right">
        <div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            {{ data["account"]["first_name"] }} {{ data["account"]["last_name"] }}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/logout">Log out</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container p-3 my-3" id="msg"></div>
    <div class="container p-3 my-3">
      
    </div>
    
    <div class="container p-3 my-3">
     <iframe width="1000" height="1000" src="https://datastudio.google.com/embed/reporting/2044531b-49cc-4bdb-9fa8-a8d83d4968dc/page/lKEUB" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    
    <script>
      $(document).ready(function() {
        if ('{{ error }}' == 'True')
          showAlert('failure', 'Incorrect reservation details!');
      });
    </script>
    
  </body>
</html>
